{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <h1> hello </h1>
        <br>
        {{unevariable.v1}}
        <br>
        {{unevariable.v2}}
        {% block javascripts %}{% endblock %}
    </body>
</html>
